body {
    background-image: url('wood.jpg');
}
#Header{
    width: 300px;
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8339CF;
    color: #FFBC00;
    font-family: "passion One";

}
h3{
    color: #FFBC00;
    font-size: 100;
    font-family: "Passion One";
    margin-bottom: 0px;

}
p {
    color: white;
    font-family: "arial";
    font-weight: bold;


}
#LeftNav{
    width: 200px;
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8339CF;
    float: left;
}

ul {
    list-style-type: none;
    padding-left:0px;
}
#bow {
    color: #FFBC00;
}

#Content{
    width: 500px;
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8339CF;
    padding: 15px;
}
#Footer {
    border: solid 8px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8339CF;

} 